@model IEnumerable<ShoppingWeb.Models.tOrderDetail>

@{
    ViewBag.Title = "訂單明細";
}

<h2>訂單明細</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.fUserId)</th>
        <th>@Html.DisplayNameFor(model => model.fPId)</th>
        <th>@Html.DisplayNameFor(model => model.fName)</th>
        <th>@Html.DisplayNameFor(model => model.fPrice)</th>
        <th>@Html.DisplayNameFor(model => model.fQty)</th>
        <th>@Html.DisplayNameFor(model => model.fIsApproved)</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.fUserId) </td>
            <td> @Html.DisplayFor(modelItem => item.fPId) </td>
            <td> @Html.DisplayFor(modelItem => item.fName) </td>
            <td> @Html.DisplayFor(modelItem => item.fPrice) </td>
            <td> @Html.DisplayFor(modelItem => item.fQty) </td>
            <td> @(item.fIsApproved ? "是" : "否") </td>
    
        </tr>
    }

</table>
