@model IEnumerable<ShoppingWeb.Models.tOrderDetail>

@{
    ViewBag.Title = "會員購物車清單";
}

<h2>會員購物車清單</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.fUserId)</th>
        <th>@Html.DisplayNameFor(model => model.fPId)</th>
        <th>@Html.DisplayNameFor(model => model.fName)</th>
        <th>@Html.DisplayNameFor(model => model.fPrice)</th>
        <th>@Html.DisplayNameFor(model => model.fQty)</th>
        <th>@Html.DisplayNameFor(model => model.fIsApproved)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.fUserId) </td>
            <td>@Html.DisplayFor(modelItem => item.fPId) </td>
            <td>@Html.DisplayFor(modelItem => item.fName) </td>
            <td>@Html.DisplayFor(modelItem => item.fPrice) </td>
            <td>@Html.DisplayFor(modelItem => item.fQty) </td>
            <td>@(item.fIsApproved == true ? '是': '否')</td>
            <td>
                <a href="@Url.Action("DeleteCar")?orderDetailId=@item.fId"
                   class="btn btn-danger">刪除購物車</a>
            </td>
        </tr>

    }
</table>